<form method="post" action="{{ path('job_cypher_delete', {'id': job_cypher.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job_cypher.id) }}">
    <button class="fas fa-trash-alt">Ištrinti</button>
</form>
